<aside>
    <div class="sideMenu">
        <div class="sideMenu__logo">
            <img src="../../../../assets/logoevernote.svg" alt="Logo">
        </div>
        <div class="sideMenu_button"> 
            <button (click)="logout()">
                <img src="../../../../assets/log-out.svg" alt="">
                <label for="">Cerrar Sesión</label>
            </button>
        </div>
        <div class="sideMenu__user">
            <span routerLink="/admin/">Usuario: -</span>
        </div>
        <div class="sideMenu__options">
            
            <div class="sideMenu_option">
                <div class="sideMenu_optionTitle">    
                    <span routerLink="/admin/products"> Administrar Productos</span>            
                </div>
                <div class="sideMenu_optionContainer">
                    <span routerLink="/admin/products">Productos</span>
                    <span routerLink="/admin/add-product">Agregar Productos</span>
                </div>
                
            </div>

            <div class="sideMenu_option">
                <div class="sideMenu_optionTitle">    
                    <span routerLink="/admin/users"> Administrar Usuarios</span>            
                </div>
                <div class="sideMenu_optionContainer">
                    <span routerLink="/admin/users">Usuarios</span>
                    <span routerLink="/admin/add-user">Agregar Usuarios</span>
                </div>
                
            </div>
          
        </div>
    </div>
</aside>
