<div class="admin-layout">
    <div class="side-menu">
        <app-side-menu></app-side-menu>
    </div>
    <div class="admin-panel">
        <div class="admin-content">
            <div *ngIf="true">
                <h1>Productos</h1>

                <input type="text">

                <div class="products__admin">
                    <div class="productCard__admin">
                        <div class="productCard__photo">
                            <img src="" alt="producto">
                        </div>
                        <div class="productCard__info">
                            <h4>Descripción</h4>

                            <p>Precio</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


