.productCard__admin{
    width: 85% ;
    display: flex;
    margin: auto;
}

.productCard__photo{
    background-color: yellow;
    width: 200px;
    height: 200px;
}

.productCard__info{
    background-color: red;
    flex: 1;
}