<div class="products__container">
    <div class="products__title">
        <h1>Productos</h1>
    </div>
    <div class="products__search">
        <input type="text" placeholder="Search...">
        <img src="../../../../assets/searchProductIcon.svg" alt="search icon">
    </div>
    <div class="products__admin">
        <div class="productCard__admin">
            <div class="productCard__photo">
                <img src="../../../../assets/product.png" alt="producto">
            </div>
            <div class="productCard__info">
                <div class="productCard__infoText">
                    <h4>Descripción:</h4>
                    <p>Precio:</p>
                </div>
                <div class="productCard__infoBtn">
                    <button>Editar</button>
                    <button>Eliminar</button>
                </div>
            </div>
        </div>
        <div class="productCard__admin">
            <div class="productCard__photo">
                <img src="../../../../assets/product.png" alt="producto">
            </div>
            <div class="productCard__info">
                <div class="productCard__infoText">
                    <h4>Descripción:</h4>
                    <p>Precio:</p>
                </div>
                <div class="productCard__infoBtn">
                    <button>Editar</button>
                    <button>Eliminar</button>
                </div>
            </div>
        </div>
        <div class="productCard__admin">
            <div class="productCard__photo">
                <img src="../../../../assets/product.png" alt="producto">
            </div>
            <div class="productCard__info">
                <div class="productCard__infoText">
                    <h4>Descripción:</h4>
                    <p>Precio:</p>
                </div>
                <div class="productCard__infoBtn">
                    <button>Editar</button>
                    <button>Eliminar</button>
                </div>
            </div>
        </div>
        <div class="productCard__admin">
            <div class="productCard__photo">
                <img src="../../../../assets/product.png" alt="producto">
            </div>
            <div class="productCard__info">
                <div class="productCard__infoText">
                    <h4>Descripción:</h4>
                    <p>Precio:</p>
                </div>
                <div class="productCard__infoBtn">
                    <button>Editar</button>
                    <button>Eliminar</button>
                </div>
            </div>
        </div>
    </div>
    
</div>


