<div class="users__container">
    <div class="users__title">
        <h1>Usuarios</h1>
    </div>
    <div class="users__search">
        <input type="text" placeholder="Search...">
        <img src="../../../../assets/searchProductIcon.svg" alt="search icon">
    </div>
    <div class="users__admin">
        <div class="userCard__admin">
            <div class="userCard__photo">
                <img src="../../../../assets/profile.svg">
            </div>
            <div class="userCard__info">
                <div class="userCard__infoText">
                    <h4>Rol    : </h4>
                    <h4>Nombre : </h4>
                    <h4>Correo : </h4>
                    <h4>Telefono : </h4>
                </div>
                <div class="userCard__infoBtn">
                    <button>Editar</button>
                    <button>Eliminar</button>
                </div>
            </div>
        </div>
        <div class="userCard__admin">
            <div class="userCard__photo">
                <img src="../../../../assets/profile.svg">
            </div>
            <div class="userCard__info">
                <div class="userCard__infoText">
                    <h4>Rol    : </h4>
                    <h4>Nombre : </h4>
                    <h4>Correo : </h4>
                    <h4>Telefono : </h4>
                </div>
                <div class="userCard__infoBtn">
                    <button>Editar</button>
                    <button>Eliminar</button>
                </div>
            </div>
        </div>
        <div class="userCard__admin">
            <div class="userCard__photo">
                <img src="../../../../assets/profile.svg">
            </div>
            <div class="userCard__info">
                <div class="userCard__infoText">
                    <h4>Rol    : </h4>
                    <h4>Nombre : </h4>
                    <h4>Correo : </h4>
                    <h4>Telefono : </h4>
                </div>
                <div class="userCard__infoBtn">
                    <button>Editar</button>
                    <button>Eliminar</button>
                </div>
            </div>
        </div>
        <div class="userCard__admin">
            <div class="userCard__photo">
                <img src="../../../../assets/profile.svg">
            </div>
            <div class="userCard__info">
                <div class="userCard__infoText">
                    <h4>Rol    : </h4>
                    <h4>Nombre : </h4>
                    <h4>Correo : </h4>
                    <h4>Telefono : </h4>
                </div>
                <div class="userCard__infoBtn">
                    <button>Editar</button>
                    <button>Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</div>