<div>
    <div class="general">
        <div id="title">
            <h2>USUARIOS</h2>
        </div>

        <div class="search">
            <input type="text" placeholder="Buscar..." id="search_input">
            <img src="../../../../assets/icons/buscar.svg" id="search_icon">
        </div>

        <div class="info">
            <div id="photo">
                <img src="../../../../assets/profile.svg">
            </div>
            <div id="Form">
                <div>
                    <label for="">Rol    : </label>
                </div>
                <div>
                    <label for="">Nombre : </label>
                </div>
                <div>
                    <label for="">Correo : </label>
                </div>
                <div>
                    <label for="">Telefono : </label>
                </div>
                <div id="section" *ngIf="section==false">
                    <div>
                        <button>
                            <img src="../../../../assets/pencil.svg">
                            <label for="">Editar</label>                            
                        </button>
                        <button>
                            <img src="../../../../assets/cancel.svg">
                            <label for="">Eliminar</label>                            
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="info">
            <div id="photo">
                <img src="../../../../assets/profile.svg">
            </div>
            <div id="Form">
                <div>
                    <label for="">Rol    : </label>
                </div>
                <div>
                    <label for="">Nombre : </label>
                </div>
                <div>
                    <label for="">Correo : </label>
                </div>
                <div>
                    <label for="">Telefono : </label>
                </div>
                <div id="section" *ngIf="section==false">
                    <div>
                        <button>
                            <img src="../../../../assets/pencil.svg">
                            <label for="">Editar</label>                            
                        </button>
                        <button>
                            <img src="../../../../assets/cancel.svg">
                            <label for="">Eliminar</label>                            
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
