:root{
    --white-custom: #ffffff;
    --lightgreen-custom: #00F87C;
    --black-custom: #000000;
    --lightgrey-custom: #C4C4C4;
    --darkgray-custom: #3F3F3F;
    --skyblue-custom: #497CFF;
    --orangered-custom: #FF5C5C;
    --darkgreen-custom: #004020;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: ExtraBold;
    src: url('./assets/fonts/Poppins-ExtraBold.ttf');
}
@font-face {
    font-family: MediumF;
    src: url('./assets/fonts/Poppins-Medium.ttf');
}
@font-face{
    font-family: BoldPoppins;
    src: url('./assets/fonts/Poppins-Bold.ttf');
}
@font-face {
    font-family: MediumItalic;
    src: url('./assets/fonts/Poppins-MediumItalic.ttf');
}