div{
    .general{
        display: flex;
        align-items: start;
        flex-direction: column;
        margin-left: 50px;

        div#title{
            font-size: 1.1vw;
            flex-direction: column;
            background-color: var(--black-custom);
            color: var(--lightgreen-custom);
            border-radius: 10px;
            margin-top: 4vh;
            font-family: ExtraBold;
            font-style: normal;
            font-weight: bold;
            padding-inline-start: 2vw;
            padding-inline-end: 2vw;
            line-height: 80px;
        }

        .info{
            display: flex;
            flex-direction: row;
            background-color: rgba(222, 222, 222, 0.53);
            margin-top: 3vw;
            border: 2px solid var(--black-custom);
            border-radius: 10px;

            div#photo{
                margin-top: 3vw;
                margin-left: 3vw;
                border: 2px solid var(--black-custom);
                border-radius: 10px;
                width: 17vw;
                height: 17vw;
                img{
                    width: 15vw;
                    height: 15vw;
                    margin: 1vw;
                }
                
            }
            div#Form{
                display: flex;
                flex-direction: column;
                margin: 3vw;
                padding: 1vw;
                border: 2px solid var(--black-custom);
                border-radius: 10px;
                width: 35vw;
                font-family: MediumF;
                div{
                    margin-top: 5px;
                    justify-content: center;
                    align-items: center;
                }
                div#section{
                    margin-top: 10px;
                    border-top: 1px solid var(--black-custom);
                    div{
                        margin-top: 5px;
                        flex-direction: row;
                        button{
                            background-color: var(--lightgreen-custom);
                            border-radius: 10px;
                            margin: 1vw;
                            line-height: 25px;
                            padding-inline-start: 10px;
                            padding-inline-end: 10px;
                            font-family: MediumF;
                            display: flex;
                            align-items: center;
                            float:right;
                            outline: none;
                            cursor: pointer;
                            img{
                                width: 15px;
                                height: 15px;
                            }
                            label{
                                margin-left: 10px;
                            }
                        }
                    }
                    form{
                        div{
                            flex-direction: row;
                            input{
                                margin-left:10px ;
                                border: none;
                                outline: none;
                                font-size: 20px;
                                border-radius: 20px;
                                padding-left:10px ;
                                width: 13vw;
                            }
                        }
                    }
                }
            }
        }
    }
}